.header {
  border: 1px solid #000;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0 20px;
}

.nav-items > ul {
  font-size: 24px;
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 200px;
  height: 300px;
  margin: 5px;
  padding: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid #000;
}

/* .search {
  padding: 10px;
} */

.res-logo {
  width: 100%;
}

.filter {
  margin: 10px;
}
.filter-btn {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #fcd516;
  color: #a31e00;
}
.filter-btn:hover {
  background-color: #a31e00;
  color: #fcd516;
}